* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Manjari', sans-serif;

}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    align-items: center;
    background-color: #f9ffed;
    padding: 0 40px;
    width: 100%;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 10;
}

.logo{
     display: flex;
     align-items: center;
}

.logo-img{
     height: 65px
}

.logo h3{
     font-weight: 400;
     font-size: 22px
}

header nav ul{
    display: flex;
}

nav a{
    font-weight: 400;
    padding-right: 20px;

}

nav li :hover{
    color: #4f7344;
}


/*HASTA ACA EL HEADER*/



.banner{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )     
    ,url(../imagenes/fondo_banner.JPEG);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;    
}


.banner h1{
    color: #f9ffed;
    font-weight: bold;
    font-family: 'Belleza', sans-serif;
    font-size: 80px;
}

.banner h3{
    color: #f9ffed;
    font-size: 20px;
    padding: 35px;
    font-family: 'Belleza', sans-serif;
}

/*HASTA ACA EL HERO*/



.sobre-nosotros{
    background-color: #f9ffed;
    display: flex;
    align-items: center;
    width: 100%;
}

.sobre-nosotros img{
    justify-content: center;
    max-width: 50%;
}

.sn-texto{
    width: 50%;
    text-align: justify;
    margin: 80px;
    line-height: 25px;   

}

.sn-texto span{
    font-style: italic;
}

.sn-title{
    padding-bottom: 50px;
    font-size: 2.5em;
    font-weight: 400;
}

/*HASTA ACA EL SOBRE NOSOTROS*/




.ultimos-diseños{
    background-color: rgba(131, 67, 37,0.2);
    min-height: 600px;
    width: 100%;
    display: flex;
    align-items: center;

}

.texto-ud{
    padding: 10px 30px 10px 30px;
}

.title-ud{
    font-family: 'Belleza', sans-serif;
    color: white;
    font-size: 45px;
    padding-bottom: 30px;
}

.parrafo-ud{
    color: white;
    font-size: 25px;
}

.cartas{
    display: flex;
    justify-content: center;
}

.carta-ud{
    padding: 15px;
}

.carta-ud img{
    background-color: white;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


.texto-ud p{
    padding-bottom: 30px;
}

.texto-ud a{
    padding: 10px;
    color: #2b3825;
    background-color: white;
    font-family: 'Manjari', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset;
    border: none;
    font-size: 13px;
    margin-top: 30px;    
}



/*HASTA ACA EL ULTIMOS DISEÑOS*/



footer{
    background-color: #414b3b;
    height: 240px;
    text-align: center;
    color: white;
}

.footer__nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer__nav a{
    color: white;
}

.footer__img img{
    height: 100px;
}

.footer__redes{
    padding: 15px;
}

.footer__redes img{
    height: 35px;
    padding: 0 10px;
}

.footer__copy{
    font-size: 12px;
    padding-top: 5px;
}

/*HASTA ACA EL FOOTER*/

.nosotros{
    padding-top: 80px;
    min-height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )      
    ,url(../imagenes/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nosotros__title{
    color: white;
    font-size: 45px;
    text-align: center;
    padding: 35px;
    padding-top: 50px;
}

.nosotros__nosotros{
    display: flex;
    justify-content: center;
}

.nosotros__carta{
    background-color: #f9ffed;
    min-height: 400px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin: 2rem;
    color: #2b3825;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    
}

.nosotros__img{
    height: 9rem;
    border-radius: 50%;
    border: 2px solid #414b3b;
}

.nosotros__carta p{
    padding: 10px;
    padding-top: 20px;
    line-height: 20px;
    text-align: center;
}

/**/

.diseños__main{
    padding-top: 80px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )      
    ,url(../imagenes/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;


}

.diseños__title{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.diseños__contenedor{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 1rem;
    padding-bottom: 50px;
    
}

.diseños{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: 25rem;

}

.diseños img{
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
    object-fit: cover;
}

.diseños img:hover{
    transform: scale(1.15);
}

.diseños p{
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
}

.diseños__personalizados{
    min-height: 9rem;
    width: 70%;
    text-align: center;
    border: 3px solid rgb(233, 233, 233);
    border-style: dashed;
    background-color: #D9D5CF;
    border-radius: 15px;
    padding: 10px;
    color: #2b3825;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.4);

}

.diseños__personalizados h2{
    padding-bottom: 5px;
}

.diseños__personalizados h3{
    padding-bottom: 10px;
}

.diseños__personalizados p{
    padding-bottom: 15px
}

.diseños__personalizados a{
    color: white;
    background-color: #2b3825;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

/**/

.precios{
    padding-top: 80px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )      
    ,url(../imagenes/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.precios__title{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.precios__contenedor{
    padding: 40px;
}

.precios__barro, .precios__cemento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.precios__barro img{
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #4f7344;

}

.texto__barro{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
    justify-content: center;
    background-color: #f9ffed;
    border-radius: 10px;
    position: relative;
    border: 2px solid #4f7344;
}

.texto__barro h3{
    color: #2b3825;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

.texto__barro--parrafos{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #4f7344;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.texto__barro--parrafos div{
    line-height: 40px;
}

.precios__cemento{
    margin-top: 50px;
}

.precios__cemento img{
    height: 212px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #4f7344;

}

.texto__cemento{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
    justify-content: center;
    background-color: #f9ffed;
    border-radius: 10px;
    position: relative;
    border: 2px solid #4f7344;


}

.texto__cemento h3{
    color: #2b3825;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

.texto__cemento--parrafos{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #4f7344;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.texto__cemento--parrafos div{
    line-height: 40px;

}

/**/


.contacto{
    min-height: 100vh;
    padding: 50px;
    padding-top: 100px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )      
    ,url(../imagenes/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__container--1{
    width: 50%;
}

.contacto__container{
    display: flex;
    background-color: #f9ffed;
    border-radius: 25px;
    min-height: 600px;
    width: 54rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    position: relative;
}

.contacto__container img{
    height: 600px;
    width: 50%;
    border-radius: 25px 0 0 25px;
}

.contacto__title{
    color: #2b3825;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    
}

.contacto__formulario{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;    
    min-height: 400px;
}

.contacto__input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto__submit{
    position: absolute;
    bottom: 2rem;
}

.contacto__input input{
    font-family: 'Manjari', sans-serif;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #D9D5CF;
    padding: 5px;
}

.contacto__input textarea{
    max-height: 150px;    
    font-family: 'Manjari', sans-serif;
    border-radius: 5px;
    border: 1px solid #D9D5CF;
    padding: 5px;
    resize: none;
    width: 90%;

}

#contacto__submit input{
    background-color: #414b3b;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    color: #f9ffed;
    border: 1px solid #D9D5CF;
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
    }

    header nav{
        width: 100%;
    }

    header nav ul{
        width: 100%;
        justify-content: space-evenly;
    }

    nav a{
        padding: 8px;
    }

    .logo{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .logo h3{
        font-size: 20px;
    }
    
    .sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sn-texto{
        width: 100%;
        margin: 0;
        padding: 25px;
        text-align: center;
    }

    .sn-title{
        margin-bottom: 0;
    }    

    .ultimos-diseños{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 500px;
    }

    .texto-ud{
        text-align: center;
    }

    .diseños__contenedor{
        grid-template-columns: repeat(2, 45%);
    }

    .diseños img{
        height: 100%;
        width: 100%;
    }

    .diseños__personalizados{
        width: 85%;
    }

    .contacto__container{
        margin: 1rem;
        min-height: 550px;
    }

    .contacto__container--1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto__title{
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
    }

    .contacto__formulario{
        width: 80%;
    }

    .contacto__container img{
        display: none;
    }

    #contacto__submit{
        bottom: 10px;
        margin-top: 5px;
    }

}


@media screen and (max-width:426px) {
    .banner h1{
        font-size: 4rem;
    }

    .sn-img{
        display: none;
    }

    .cartas{
        flex-direction: column;
    }

    .nosotros__nosotros{
        flex-direction: column;
        align-items: center;
    }

    .diseños__contenedor{
        grid-template-columns: 85%;
    }

    .diseños img{
        height: 100%;
        width: 100%;
    }

    .diseños__personalizados{
        width: 85%;
    }

    .diseños__personalizados h2{
        font-size: 1.5rem;
    }

    .diseños__personalizados h3{
        font-size: 1rem;
    }

    .diseños__personalizados p{
        font-size: 0.8rem;
        padding-bottom: 20px;
    }

    .precios__barro, .precios__cemento {
        flex-direction: column;
    }

    .texto__barro, .texto__cemento {
        width: 100%;
        margin: 10px;
    }

    .precios__barro img, .precios__cemento img {
        margin: 15px;
    }

    .contacto__container{
        margin: 0;
        height: 600px;
    }

    .contacto__title{
        padding: 0.5rem;
    }
}