* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manjari', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

@import './components/header';
@import './components/index';
@import './components/footer';