$breakpoints: (
    xs : 320px,
    sm : 426px,
    md : 768px,
);

@mixin media ($breakpoint) {
    
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    align-items: center;
    background-color: #f9ffed;
    padding: 0 40px;
    width: 100%;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 30;

    .logo{
        display: flex;
        align-items: center;

        &-img{
            height: 65px;
        }

        h3{
            font-weight: 400;
            font-size: 22px;
            @include media(md){
                font-size: 20px;
            }
        }    
        @include media(md){
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            width: 100%;
        } 
    }

    nav{
        ul{
            display: flex;

            li:hover{
                transform: translateY(-1.5px);
                a{
                    color: #4f7344; 
                    @include media(md){
                        padding: 8px;
                    }                   
                }
            }
            @include media (md){
                width: 100%;
                justify-content: space-evenly;
            }

        }
        a{
            font-weight: 400;
            padding-right: 10px;
            padding-left: 10px;
            @include media (xs){
                padding-right: 5px;
                padding-left: 5px;   
            }
        }
        @include media (md){
            width: 100%;
            margin-bottom: 0.5rem;
        }

    }

    @include media (md){
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
    }

    @include media(xs){
        max-width: 425px;
        padding: 0;
        right: 0;
    }
}