$breakpoints: (
    sm : 426px,
    md : 768px,
);

@mixin media ($breakpoint) {
    
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.banner{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )     
    ,url(../imagenes/fondo_banner.JPEG);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;  
    h1{
        color: #f9ffed;
        font-weight: bold;
        font-family: 'Belleza', sans-serif;
        font-size: 80px;
        @include media(sm){
            font-size: 4rem;
        }
    }
    h3{
        color: #f9ffed;
        font-size: 20px;
        padding: 35px;
        font-family: 'Belleza', sans-serif;
    }  
}

.sobre-nosotros{
    background-color: #f9ffed;
    display: flex;
    align-items: center;
    width: 100%;

    &-texto{
        width: 50%;
        text-align: justify;
        margin: 80px;
        line-height: 25px; 
        &-title{
            padding-bottom: 50px;
            font-size: 2.5em;
            font-weight: 400;
            @include media(md){
                margin-bottom: 0;
            }
        } 
        span{
            font-style: italic;

        }
        @include media(md){
            width: 100%;
            margin: 0;
            padding: 25px;
            text-align: center;
        }   
    }
    img{
        justify-content: center;
        max-width: 50%;
        @include media(sm){
            display: none;
        }
    }
    @include media(md){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ultimosDiseños{
    background-color: rgba(131, 67, 37,0.2);
    min-height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    &__texto{
        padding: 10px 30px 10px 30px;

        h2{
            font-family: 'Belleza', sans-serif;
            color: white;
            font-size: 45px;
            padding-bottom: 30px;
        }
        p{
            color: white;
            font-size: 25px;
            padding-bottom: 30px;
        }
        a{
            padding: 10px;
            color: #2b3825;
            background-color: white;
            font-family: 'Manjari', sans-serif;
            font-weight: bold;
            border-radius: 5px;
            box-shadow: inset;
            border: none;
            font-size: 13px;
            margin-top: 30px;    
        }
        @include media(md){
            text-align: center;
        }
    }
    &__cartas{
        display: flex;
        justify-content: center;

        &-carta{
            padding: 15px;
            img{
                background-color: white;
                width: 100%;
                align-items: center;
                border-radius: 10px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            }
        }
        @include media(sm){
            flex-direction: column;
        }
    }
    @include media(md){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 500px;
    }
}