$breakpoints: (
    sm : 426px,
    md : 768px,
);

@mixin media ($breakpoint) {
    
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.precios{
    padding-top: 80px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )      
    ,url(../imagenes/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    &__title{
        text-align: center;
        color: white;
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 25px;
        @include media(sm){
            padding-top: 0;
        }
    }
    &__contenedor{
        padding: 40px;
        &-barro{
            display: flex;
            justify-content: center;
            align-items: center;
            .texto__barro{
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-right: 30px;
                justify-content: center;
                background-color: #f9ffed;
                border-radius: 10px;
                position: relative;
                border: 2px solid #4f7344;
                h3{
                    color: #2b3825;
                    padding: 20px;
                    font-weight: bold;
                    font-size: 25px;
                }
                &--parrafos{
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    color: #4f7344;
                    font-weight: bold;
                    font-size: 20px;
                    align-items: center;
                    div{
                        line-height: 40px;
                    }
                }
                @include media(sm){
                    width: 100%;
                    margin: 10px;
                }
            }
            img{
                height: 200px;
                border-radius: 10px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                border: 2px solid #4f7344;
                @include media(sm){
                    margin: 15px;
                }
            }
            @include media(sm){
                flex-direction: column;
            }
        }
        &-cemento{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            img{
                height: 212px;
                border-radius: 10px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                border: 2px solid #4f7344;
                @include media(sm){
                    margin: 15px;
                }
            }
            .texto__cemento{
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-right: 30px;
                justify-content: center;
                background-color: #f9ffed;
                border-radius: 10px;
                position: relative;
                border: 2px solid #4f7344;
                h3{
                    color: #2b3825;
                    padding: 20px;
                    font-weight: bold;
                    font-size: 25px;
                }
                &--parrafos{
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    color: #4f7344;
                    font-weight: bold;
                    font-size: 20px;
                    align-items: center;
                    div{
                        line-height: 40px;                    
                    }
                }
                @include media(sm){
                    width: 100%;
                    margin: 10px;
                }
            }
            @include media(sm){
                flex-direction: column;
            }
        }
    }
}